{% extends "base_generic.html" %}

{% block content %}
  <div class="pt-5 row">
    <h1><img src="/media/{{actor.foto_actor}}" class="img-thumbnail"  height="250px" width="210px"></h1>
    <h2>{{actor.nombre}}, {{actor.apellido}}</h2>

    <p><strong>Nacimiento:</strong> {{ actor.fecha_de_nacimiento }}</p>
    <p><strong>Edad:</strong> {{ actor.edad_actor }}</p>
    <div class="col-sm-6">
      <div style="margin-left:20px;margin-top:20px">
        <h4>Peliculas</h4>
        {% for pelicula in actor.pelicula_set.all %}
          <p><a href="{{ pelicula.get_absolute_url }}"><img src="/media/{{pelicula.foto_pelicula}}" 
            class="object-fit_fill grow" height="140px" width="100px"></a></p> 
          <div class="containerq"> 
            <p class="text2">{{ pelicula.nombre_pelicula }}</p>     
            <p>{{ pelicula.resumen }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}