{% extends "base_generic.html" %}

{% block content %}
  <h1>Directores</h1> 
  {% if director_list %}
    <div class="row">
      {% for director in director_list %}
        <div class="ps-5 pe-5 pt-3 col-sm-2">
          <p><a href="{{ director.get_absolute_url }}"><img src="/media/{{director.foto_director}}" 
            class="object-fit_fill grow"  height="220px" width="180px"></a></p>
          <div class="containers">
            <p class="text2">{{director.nombre}} {{director.apellido}}</p>
          </div> 
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No hay directores</p>
  {% endif %}
{% endblock %}